<div id="message">
  <p>Thank you for consenting to participate in <b>The First Three Years</b>!</p>
  <p>We look forward to working with you.</p>
  <div class="dot-sep"><img src="./style/images/dots.png"></div>
  <!--remove ability to download for now-->
  <!--button id="download" ng-click="download()">Download a copy for your records</button-->
  <div id="interview-prompt">Have you booked your first interview? <a href="https://bit.ly/3mU6132" target="_blank">CLICK HERE</a> to schedule it!</div>
</div>
