<div class="view-content">
  <div id="header">
    <div id="header">
      <div id="partners">
        <div class="p-logo" ng-repeat="p in model.logos">
          <a ng-href="{{p.link}}" target="_blank"><img ng-src="{{p.logo}}"/></a>
        </div>
      </div>
      <div id="roles">
        <div class="person" ng-repeat="person in model.people">
         <div class="title">{{person.role}}</div>:&nbsp;{{person.desc}}&nbsp;<a ng-href="mailto:{{person.contact}}">{{person.contact}}</a>
        </div>
      </div>
    </div>
  </div>
  <div id="preamble">{{model.header.prompt}}</div>
  <div id="form-container" class="form-content">
    <div id="body-text" class="form-section" ng-if="model.config.templates.form && model.config.templates.form.length >0">
      <div ng-include="model.config.templates.form"></div>
    </div>
    <div id="fillables" class="form-section">
      <div id="consent-items" ng-repeat="elem in model.config.consent_fields">
        <div class='consent-item'>
            <label for="ci-{{$index}}">{{elem.prompt}}</label><br/>
            <div ng-if="elem.type=='checkbox'"><span><input type="radio"  value="true" ng-model="model.consent[elem.name]"><div class="option-label">Yes</div><input style="margin-left:1%" type="radio" value="false" ng-model="model.consent[elem.name]"><div class="option-label">No</div><input style="margin-left:1%" type="radio" value=null ng-model="model.consent[elem.name]" ng-if="elem.na"><div class="option-label">N/A</div></span></div>
            <div ng-if="elem.type=='text'"><input type="text"  autocomplete="off" ng-model="model.consent[elem.name]" ng-required="elem.required"></input></div>
            <div ng-if="elem.type=='signature'" class="signature">
              <signature-pad accept="accept" clear="clear" height="220" width="568" disabled="model.consent[elem.name] && !model.consent[elem.name].isEmpty" class="signature-input"></signature-pad>
               <div class="signature-prompt"  ng-if="!model.consent[elem.name] || model.consent[elem.name].isEmpty">Use your <span ng-if="!model.istouch">mouse</span><span ng-if="model.istouch">finger or stylus</span> to sign inside the box.</div>
               <div class="signature-buttons" ng-if="!model.consent[elem.name] || model.consent[elem.name].isEmpty">
                 <button ng-click="clear()" style="margin-right: 2%;">Clear</button>
                 <button ng-click="model.consent[elem.name]= accept()">Accept</button>
               </div>
            </div>
        </div>
      </div>
    </div>
    <div id="finish" class="form-section">
      <div class="form-item">
        <label for="contact-email">Email:</label><br/>
        <input id="contact-email" type="email" ng-model="model.contact.email" required></input>
      </div>
      <div  id="email-check">
        <input type="checkbox" ng-model="model.sendemail">
        <span><b>Email me a copy of the form.</b></span>
      </div>
      <div id="submit">
        <button ng-click="submit()" ng-disabled="submit_disabled()">Submit</button>
      </div>
    </div>
  </div>
</div>
`
