/*variables*/
/*global things*/
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

#loading-overlay {
  z-index: 999;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: all 0.2s fade;
  position: absolute;
  top: 0px;
  right: 0px; }
  #loading-overlay .fa-spinner {
    font-size: 75px;
    margin-top: 45%; }

button {
  padding: 2% 3% 2% 3%;
  border: 0px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: bold; }
  button:disabled {
    pointer-events: none;
    opacity: 0.75; }

#view-content {
  min-height: 100%; }

#header {
  padding-top: 3vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

label {
  font-weight: bold; }

#preamble {
  text-align: center;
  font-weight: bold;
  margin-top: 4vh;
  margin-bottom: 4vh; }

#logo {
  text-align: center;
  padding-top: 1vh; }
  #logo img {
    max-width: 90%;
    height: auto; }

#partners {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  #partners .p-logo {
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%; }
    #partners .p-logo img {
      max-width: 130px;
      max-height: 130px; }

#roles {
  font-size: 75%;
  padding-bottom: 3vh; }
  #roles .person .title {
    font-weight: bold;
    display: inline-block; }

.form-section .section-title {
  font-weight: bold;
  font-size: 110%;
  padding-bottom: 2vh;
  padding-top: 4vh; }

.option-label {
  padding-left: 1.5%;
  padding-right: 4%;
  font-weight: bold;
  display: inline-block; }

.consent-item {
  padding-bottom: 4%; }
  .consent-item .consent-prompt {
    padding-bottom: 1.5%; }

.form-content input, .form-content canvas {
  margin: 0 .25rem;
  min-width: 125px;
  border: none;
  border-left: 5px solid;
  border-radius: 5px;
  border-color: rgba(44, 44, 44, 0.6);
  transition: border-color .5s ease-in-out;
  outline-offset: 3px; }

.form-content .form-item {
  margin-bottom: 2%; }
.form-content input, .form-content canvas {
  border-radius: 5px;
  padding: 1.5%;
  border-right: 2px solid #e8e8e8;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8; }
.form-content canvas {
  border-left: 2px solid #e8e8e8; }
.form-content input:required:valid {
  border-left-color: rgba(23, 150, 17, 0.6); }
.form-content input:invalid {
  border-left-color: rgba(255, 0, 0, 0.6); }
.form-content input:focus {
  border-color: rgba(44, 44, 44, 0.6);
  outline-style: none;
  box-shadow: none; }
.form-content input:invalid:focus {
  border-left-color: rgba(255, 0, 0, 0.6);
  outline-style: none;
  box-shadow: none; }

.signature {
  margin-top: 4vh;
  margin-bottom: 4vh; }
  .signature .signature-buttons {
    margin-top: 1.5vh; }
    .signature .signature-buttons button {
      min-width: 30%; }
  .signature .signature-prompt {
    opacity: 0.8;
    font-size: 75%;
    padding-bottom: 7px;
    font-style: italic; }
  .signature .signature-input {
    background-color: #fff;
    border-radius: 5px; }

#email-check input {
  min-width: 0px; }

#submit {
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 6vh; }
  #submit button {
    min-width: 75%; }

/*media queries*/
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #logo img {
    max-width: 50%; }

  #partners {
    justify-content: space-between; }
    #partners .p-logo img {
      max-width: 12vw;
      max-height: 12vw; }

  .signature-buttons button {
    min-width: 10%; }

  #submit button {
    min-width: 25vw; }

  #consent-item {
    padding-bottom: 2.5vh; }

  button {
    padding: 1%; }

  input {
    padding: 0.5% !important; }

  #loading-overlay .fa-spinner {
    margin-top: 20%; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #view-content {
    padding-left: 5%;
    padding-right: 5%; }

  #preamble {
    font-size: 110%; }

  #roles {
    font-size: 100%; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
